In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('CarPrice_Assignment.csv')

In [3]:
df.head(10)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.000
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.000
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.000
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.000
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.000
5,6,2,audi fox,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.000
6,7,1,audi 100ls,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.000
7,8,1,audi 5000,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.000
8,9,1,audi 4000,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.000
9,10,0,audi 5000s (diesel),gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,17859.167

In [4]:
print(df.dtypes)

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [5]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
df=df.replace(to_replace="4wd",value="fwd")

In [7]:
df=df.drop(['car_ID'], axis=1)

In [8]:
categorical_features = list(df.select_dtypes(include=['object']).columns)
print(categorical_features)

['CarName', 'fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem']

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in categorical_features:
    df[i] = le.fit_transform(df[i])
    df[i] = le.fit_transform(df[i])
df

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,2,1,0,1,0,1,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,3,1,0,1,0,1,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,1,1,0,1,2,1,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,4,1,0,0,3,0,0,99.8,176.6,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,5,1,0,0,3,0,0,99.4,176.6,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,139,1,0,0,3,1,0,109.1,188.8,...,141,5,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,138,1,1,0,3,1,0,109.1,188.8,...,141,5,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,140,1,0,0,3,1,0,109.1,188.8,...,173,5,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,142,0,1,0,3,1,0,109.1,188.8,...,145,3,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,143,1,1,0,3,1,0,109.1,188.8,...,141,5,3.78,3.15,9.5,114,5400,19,25,22625.0

In [10]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]
print(X.columns,"\n")
print(Y.name)

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg'],
      dtype='object')

price

In [11]:
print(Y)

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [12]:
Y=np.array(Y)

Y=Y.reshape(-1,1)
print(Y)

[[13495.   ]
 [16500.   ]
 [16500.   ]
 [13950.   ]
 [17450.   ]
 [15250.   ]
 [17710.   ]
 [18920.   ]
 [23875.   ]
 [17859.167]
 [16430.   ]
 [16925.   ]
 [20970.   ]
 [21105.   ]
 [24565.   ]
 [30760.   ]
 [41315.   ]
 [36880.   ]
 [ 5151.   ]
 [ 6295.   ]
 [ 6575.   ]
 [ 5572.   ]
 [ 6377.   ]
 [ 7957.   ]
 [ 6229.   ]
 [ 6692.   ]
 [ 7609.   ]
 [ 8558.   ]
 [ 8921.   ]
 [12964.   ]
 [ 6479.   ]
 [ 6855.   ]
 [ 5399.   ]
 [ 6529.   ]
 [ 7129.   ]
 [ 7295.   ]
 [ 7295.   ]
 [ 7895.   ]
 [ 9095.   ]
 [ 8845.   ]
 [10295.   ]
 [12945.   ]
 [10345.   ]
 [ 6785.   ]
 [ 8916.5  ]
 [ 8916.5  ]
 [11048.   ]
 [32250.   ]
 [35550.   ]
 [36000.   ]
 [ 5195.   ]
 [ 6095.   ]
 [ 6795.   ]
 [ 6695.   ]
 [ 7395.   ]
 [10945.   ]
 [11845.   ]
 [13645.   ]
 [15645.   ]
 [ 8845.   ]
 [ 8495.   ]
 [10595.   ]
 [10245.   ]
 [10795.   ]
 [11245.   ]
 [18280.   ]
 [18344.   ]
 [25552.   ]
 [28248.   ]
 [28176.   ]
 [31600.   ]
 [34184.   ]
 [35056.   ]
 [40960.   ]
 [45400.   ]
 [16503.   ]
 [ 5389.   ]
 [ 6189.   ]
 [ 6669.   ]
 [ 7689.   ]
 [ 9959.   ]
 [ 8499.   ]
 [12629.   ]
 [14869.   ]
 [14489.   ]
 [ 6989.   ]
 [ 8189.   ]
 [ 9279.   ]
 [ 9279.   ]
 [ 5499.   ]
 [ 7099.   ]
 [ 6649.   ]
 [ 6849.   ]
 [ 7349.   ]
 [ 7299.   ]
 [ 7799.   ]
 [ 7499.   ]
 [ 7999.   ]
 [ 8249.   ]
 [ 8949.   ]
 [ 9549.   ]
 [13499.   ]
 [14399.   ]
 [13499.   ]
 [17199.   ]
 [19699.   ]
 [18399.   ]
 [11900.   ]
 [13200.   ]
 [12440.   ]
 [13860.   ]
 [15580.   ]
 [16900.   ]
 [16695.   ]
 [17075.   ]
 [16630.   ]
 [17950.   ]
 [18150.   ]
 [ 5572.   ]
 [ 7957.   ]
 [ 6229.   ]
 [ 6692.   ]
 [ 7609.   ]
 [ 8921.   ]
 [12764.   ]
 [22018.   ]
 [32528.   ]
 [34028.   ]
 [37028.   ]
 [31400.5  ]
 [ 9295.   ]
 [ 9895.   ]
 [11850.   ]
 [12170.   ]
 [15040.   ]
 [15510.   ]
 [18150.   ]
 [18620.   ]
 [ 5118.   ]
 [ 7053.   ]
 [ 7603.   ]
 [ 7126.   ]
 [ 7775.   ]
 [ 9960.   ]
 [ 9233.   ]
 [11259.   ]
 [ 7463.   ]
 [10198.   ]
 [ 8013.   ]
 [11694.   ]
 [ 5348.   ]
 [ 6338.   ]
 [ 6488.   ]
 [ 6918.   ]
 [ 7898.   ]
 [ 8778.   ]
 [ 6938.   ]
 [ 7198.   ]
 [ 7898.   ]
 [ 7788.   ]
 [ 7738.   ]
 [ 8358.   ]
 [ 9258.   ]
 [ 8058.   ]
 [ 8238.   ]
 [ 9298.   ]
 [ 9538.   ]
 [ 8449.   ]
 [ 9639.   ]
 [ 9989.   ]
 [11199.   ]
 [11549.   ]
 [17669.   ]
 [ 8948.   ]
 [10698.   ]
 [ 9988.   ]
 [10898.   ]
 [11248.   ]
 [16558.   ]
 [15998.   ]
 [15690.   ]
 [15750.   ]
 [ 7775.   ]
 [ 7975.   ]
 [ 7995.   ]
 [ 8195.   ]
 [ 8495.   ]
 [ 9495.   ]
 [ 9995.   ]
 [11595.   ]
 [ 9980.   ]
 [13295.   ]
 [13845.   ]
 [12290.   ]
 [12940.   ]
 [13415.   ]
 [15985.   ]
 [16515.   ]
 [18420.   ]
 [18950.   ]
 [16845.   ]
 [19045.   ]
 [21485.   ]
 [22470.   ]
 [22625.   ]]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [14]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:

from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X, Y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [19]:
svr = SVR()
svr.fit(x_train,y_train)
predict = svr.predict(x_test)
predict

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([10946.92220654, 10987.62427259, 10948.45279773, 10953.86177016,
       10972.00181784, 10962.84833707, 10946.00595507, 10991.4358565 ,
       10973.56498554, 10950.51681624, 10978.15690708, 10962.75900286,
       10958.94101849, 10955.20225053, 10978.81263503, 10986.97049607,
       10962.86466835, 10982.480889  , 10948.47320816, 10982.82941821,
       10982.74136071, 10944.587414  , 10947.29647386, 10951.59823222,
       10972.35491762, 10983.22697042, 10946.03362231, 10963.56266813,
       10948.03198042, 10982.59317082, 10983.72235605, 10950.12129962,
       10989.29444657, 10963.66523973, 10982.35216528, 10945.2559153 ,
       10981.53646923, 10967.40324023, 10947.93124594, 10990.82202445,
       10970.78139658])

In [20]:
from sklearn.metrics import mean_squared_error , r2_score
print("R2 test",r2_score(y_test,predict))
print("MSE test",mean_squared_error(y_test,predict))

R2 test -0.02816566916479024
MSE test 60263258.20743791

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
lr_predict = lr.predict(x_test)

In [22]:
lr_predict

array([[ 5548.47907885],
       [18697.27322263],
       [ 6756.15396427],
       [13049.13205387],
       [11100.99355505],
       [ 8654.29146144],
       [ 5152.53937255],
       [19548.60304373],
       [10605.61954403],
       [11748.69654427],
       [13876.67650563],
       [ 5587.49832459],
       [ 8622.44165281],
       [11143.58639172],
       [10404.42247638],
       [29605.55908662],
       [ 7553.17243061],
       [14493.72969399],
       [ 6687.3284069 ],
       [17960.29340551],
       [14477.67540764],
       [ 6808.10375037],
       [ 6663.28888157],
       [10764.57247756],
       [ 8871.8334634 ],
       [16518.82333401],
       [ 8168.82533215],
       [10605.48296212],
       [ 6920.79505144],
       [14724.60791464],
       [19227.05453418],
       [ 8111.29071076],
       [41036.37333547],
       [ 8840.07329698],
       [13069.71602829],
       [ 5399.71993012],
       [20982.42345325],
       [ 6233.50230106],
       [ 8211.34436339],
       [29449.22766364],
       [ 7936.76255128]])

In [23]:
print(r2_score(y_test,lr_predict))
print(mean_squared_error(y_test,lr_predict))

0.8931849600494386
6260685.924484784